{% extends 'base.html' %}
{% block content %}
<div class="search-container">
  <form action="{% url 'search' %}" method="GET">
      <div class="input-group mb-3">
          <input type="text" class="form-control" name="q" placeholder="Buscar en preguntas y comentarios...">
          <button class="btn btn-primary" type="submit">Buscar</button>
      </div>
  </form>
</div>


<h2>Discusiones y Preguntas</h2>
<a href="{% url 'preguntar' %}" class="btn btn-outline-primary mb-3">Crear Publicación</a>
{% for pregunta in preguntas %}

  <div class="card mb-2">
    <div class="card-body">
      <h5>{{ pregunta.titulo }}</h5>
      <p>{{ pregunta.cuerpo|truncatewords:30 }}</p>
      <a href="{% url 'responder' pregunta.id %}" class="btn btn-sm btn-secondary">Participar</a>
      
      <a href="{% url 'delete_question' pregunta.id %}" class="btn btn-sm btn-danger" >
          Eliminar pregunta
      </a>

    </div>
  </div>
{% endfor %}

<div>
  <nav>
    <ul class="pagination">
      {% if preguntas.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ preguntas.previous_page_number }}">Anterior</a></li>
      {% endif %}
      <li class="page-item active"><span class="page-link">{{ preguntas.number }}</span></li>
      {% if preguntas.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ preguntas.next_page_number }}">Siguiente</a></li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
